/* src/index.css */
html {
  font-family: 'Ubuntu', sans-serif;
}

html {
  background: #1E1E1E;
  font-family: 'Ubuntu', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  width: 100%;
  text-align: center;
  max-width: 900px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 36px;
  color: #E4D22B;
  font-family: 'Permanent Marker', cursive;
}

ul li {
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
}